*.py~
*.txt~
*.md~
setup~
s.sh~
index.md~
rough.txt~
rough.txt
ivocp.py~
ivo.py~
Illustris Virtual Observatory~
end.py~
backupmaster.py~
__pycache__/sunpy__plot.cpython-36.pyc
.DS_Store
.gitignore~
#.gitignore#
