*.py~
*.txt~
*.md~
*.fits
clean.sh
setup~
s.sh~
index.md~
rough.txt~
rough.txt
ivocp.py~
ivo.py~
Illustris Virtual Observatory~
end.py~
backupmaster.py~
__pycache__
.DS_Store
.gitignore~
#.gitignore#
